html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/* Mode clair */
body.light {
    background-color: #ffffff;
    color: #000000;
}

/* Mode sombre */
body.dark {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

/* Bouton simple */
a {
    font-size: 15px;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
}

body.light a {
    color: #000;
}

body.dark a {
    color: #fff;
}
